:root {
  --blue: #2176b6;
  --border-color: #dddddd;
  --text-color: #ffffff;
  --table-hover-color: #f3f3f3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
  min-height: 100vh;
}
.container * {
  font-family: sans-serif;

}

.container button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

.container button:hover {
  background-color: #f3f4f6;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.container .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;

  gap: 20px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container .form .inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
}

.container .form .inputs input {
  width: 100px;
  margin: 10px 10px 0 5px;
}

.container .form .form-control {
  width: 100%;
}
.container .form .form-control:not(:last-of-type)::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background-color: black;
}

.container .form .games-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 40px;

}

.container .form .form-control .title {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  
}

.container .select-form {
  display: flex;
  gap: 20px;
}

.container select {
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.container select:hover {
  border-color: #999;
}

.container select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}


#games-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#games-wrapper .round {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  gap: 15px;
}

.game-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

#games-wrapper .round .game-wrapper.played {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.game-wrapper .team {
  display: flex;
  gap: 5px;
  padding: 4px;
}

.team label {
  font-weight: bold;
}

.team input {
  width: 50px;
}

#games-wrapper .game-wrapper.played:hover {
  background-color: #e0e0e0;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

table {
  border-collapse: collapse;
}

.table {
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: var(--blue);
  color: var(--text-color);
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border: 1px solid var(--border-color);
}

.table tbody tr:hover {
  background-color: var(--table-hover-color);
}

.table tbody tr.winner {
  position: relative;
}

.table tbody tr.winner::after {
  content: "";
  position: absolute;
  background-image: url("https://icons.veryicon.com/png/o/business/business-style-icon/trophy-18.png");
  background-size: cover;
  height: 30px;
  width: 30px;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
}

.table tbody tr.loser {
  position: relative;
}

.table tbody tr.loser::after {
  content: "X";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 50%;
  left: -25px;
  color: red;
  transform: translateY(-50%);
}

.table .comparison-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modern-table tbody tr:nth-of-type(even) {}

.modern-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--blue);
}

.modern-table th:nth-child(2),
.modern-table td:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.modern-table button {
  background-color: var(--blue);
  color: var(--text-color);
}

.modern-table button:hover {
  background-color: #7b7b7b;
}

.old-table thead tr {
  border: 1px solid var(--border-color);
}

.old-table th button:hover {
  background-color: rgb(230, 230, 230);
}

.old-table tbody td.empty-cell {
  background-color: rgb(214, 214, 214);
}

.old-table th,
.old-table td {
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  width: 80px;
  text-align: center;
}

.old-table tr th:nth-child(-n + 2) {
  background-color: var(--blue);
  color: var(--text-color);
}

.old-table .rounds-data {
  padding: 0;
}

.old-table tbody td {
  padding: 5px;
}

.old-table .inner-table {
  min-height: 80px;
}

.old-table .inner-table tbody.hidden {
  display: none;
}

.old-table .inner-table tbody.expanded {
  display: table-row-group;
}

.old-table .rounds-data tr,
.old-table .rounds-data td {
  border: none;
}

.old-table .rounds-data td:not(.empty-cell):not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.old-table .rounds-data tfoot tr:first-child td:not(.empty-cell) {
  border-top: 1px solid var(--border-color);
}

.old-table .rounds-data td {
  min-width: 90px;
  width: 90px;
}

.old-table .rounds-data td p {
  margin: 3px;
}

.old-table .rounds-data .empty-cell {
  border: none;
}

.old-table tbody .btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 5px;
  margin: 10px 2px;
}

.old-table tbody .expand-btn {
  padding: 4px;
}


.playoffs-form {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.playoffs-form .round-wrapper .game-wrapper {
  margin-top: 10px;
}

.playoffs-form .game-wrapper {
  flex-direction: row;
  justify-content: center;
  border: 1px solid var(--blue);
  border-radius: 2px;
  position: relative;
  min-height: 60px;
  min-width: 90px;
}


.playoffs-table .playoffs-header {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;

  padding: 0;
  margin: 0;
}

.playoffs-table .playoffs-header li {
  flex-grow: 1;
  text-align: center;
  list-style: none;
  padding: 20px;
}

.playoffs-table .playoffs-games {
  display: grid;
  grid-auto-flow: column;
  gap: 50px;
  align-items: center;
  width: 100%;
}

.playoffs-table .playoffs-games .grid-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.playoffs-table .playoffs-games .game-result-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  flex-grow: 1;
}

.playoffs-table .playoffs-games .grid-wrapper:not(:last-of-type) .game-result-wrapper:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: black;
  right: 0px;
  transform: translateX(25px); 
}


.playoffs-table .playoffs-games .grid-wrapper:not(.first-row)::before {
  content: '';
  position: absolute;
  height: calc(25px + 50%);
  width: 1px;
  left: -25px;
  background-color: black;
  transform: translateX(-2px); 
}

.playoffs-table .playoffs-games .grid-wrapper:not(.first-row) .game-result-wrapper::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: black;
  left: 0px;
  transform: translateX(-25px); 
}


.game-result-wrapper .teams-wrapper div {
  display: flex;
  align-items: center;
  gap: 10px;  
  margin: 4px;
}

.game-result-wrapper .teams-wrapper p {
  margin: 0;
}




/*
.playoffs-games .pair-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -60px;
  width: 50px;
  height: 2px;
  background-color: var(--blue);
  transform: translateY(-1px); 
}

.playoffs-games .right-pair-wrapper .game-wrapper::after {
  left: -50px;
}
*/

.error * {
  color: red;
  border-color: red;
}

.modern-table .relegation * {
  border-top: 1px solid red;
}

button.clicked,
button.clicked:hover {
  background-color: #2182ab;
  color: white;
}